# Убираем страховые копии файлов
*.bak
*.bak.*
*.err
*.mn[rc]
*._ls
*.dwl*
*.log
# Точно не понадобятся файлы, которые создает Windows:
Thum*.db
# Так же считаем, что не понадобятся архивы – rar, zip, 7z
*.rar
*.zip
*.7z
# Исключаем данные IDEA:
.idea/

/*.*
!.gitignore
!.readme