<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>
      org.primefaces.webapp.filter.FileUploadFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>

  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>

  <context-param>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>/faces-config.xml</param-value>
  </context-param>

  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <!--<servlet-mapping>-->
    <!--<servlet-name>Faces Servlet</servlet-name>-->
    <!--<url-pattern>*.jsf</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>Faces Servlet</servlet-name>-->
    <!--<url-pattern>*.faces</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<listener>-->
    <!--<listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>-->
  <!--</listener>-->
  <!--<context-param>-->
    <!--<param-name>com.sun.faces.expressionFactory</param-name>-->
    <!--<param-value>com.sun.el.ExpressionFactoryImpl</param-value>-->
  <!--</context-param>-->

  <servlet>
    <servlet-name>ShowImage</servlet-name>
    <servlet-class>com.stepanyuk.servlets.ShowImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImage</servlet-name>
    <url-pattern>/ShowImage</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>
      300
    </session-timeout>
    <cookie-config>
      <name>SESSIONID</name>
    </cookie-config>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>

  <!--Этот код связывает проект с ConnectionPool который мы создали в Glassfish -->
  <resource-ref>
    <res-ref-name>DerbyPool</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>

  <!--Sequrity-->
  <security-constraint>
    <display-name>pages</display-name>
    <web-resource-collection>
      <web-resource-name>pages</web-resource-name>
      <description/>
      <url-pattern>/library/pages/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description/>
      <role-name>user</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <description/>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>jdbcRealm</realm-name>
    <form-login-config>
      <form-login-page>/index.xhtml</form-login-page>
      <form-error-page>/index.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description/>
    <role-name>user</role-name>
  </security-role>
  <security-role>
    <description/>
    <role-name>admin</role-name>
  </security-role>

  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/errorpages/expired.xhtml</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpages/empty.xhtml</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/errorpages/empty.xhtml</location>
  </error-page>


  <!--<context-param>-->
    <!--<param-name>javax.faces.WEBAPP_RESOURCES_DIRECTORY</param-name>-->
    <!--<param-value>/resources</param-value>-->
  <!--</context-param>-->

  <!--<context-param>-->
    <!--<param-name>javax.faces.RESOURCE_EXCLUDES</param-name>-->
    <!--<param-value>/WEB-INF/resources</param-value>-->
  <!--</context-param>-->

  <!--<context-param>-->
    <!--<param-name>javax.faces.RESOURCE_EXCLUDES</param-name>-->
    <!--<param-value>/resources</param-value>-->
  <!--</context-param>-->

  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>libraryaristo</param-value>
  </context-param>

  <!--<locale-encoding-mapping-list>-->
    <!--<locale-encoding-mapping>-->
      <!--<locale>ru</locale>-->
      <!--<encoding>UTF-8</encoding>-->
    <!--</locale-encoding-mapping>-->
  <!--</locale-encoding-mapping-list>-->
</web-app>


